@import 'mixins';

@font-face
{
    font-family: 'georgia';
    src: url("../fonts/georgia.ttf");
}

*
{
    margin: 0;
    padding: 0;
    border: 0;
}

.clear
{
    clear: both;
}

.revealator-slideup
{
    transform: translate(0, 100px);
    opacity: 0;
}

.header
{
    .mobile_menu
    {
        display: none;
        max-width: 600px;
        margin: 10px auto 0;

        .open_mobile_menu
        {
            height: 30px;
            width: 30px;
            border: none;
            cursor: pointer;
            background: url("../images/hamburger_menu.svg") no-repeat 0 center;
        }

        .close_mobile_menu
        {
            @extend .open_mobile_menu;
            display: none;
            background: url("../images/cross_menu.svg") no-repeat 0 center;
            padding-left: 40px;
            font: 19px/32px 'Georgia', sans-serif;
            color: $headline_color;
        }
    }

    .top_menu
    {
        margin: 0 auto;
        max-width: 960px;
        height: 50px;

        .top_menu_button
        {
            display: block;
            float: left;
            height: 50px;
            padding: 0 20px 0 45px;
            border: none;
            cursor: pointer;
            font: 19px/50px 'Georgia', sans-serif;
            color: $headline_color;

            &:hover
            {
                color: $white-font-color;
            }
        }

        .about_me_button
        {
            background: url("../images/about_me_icon.png") no-repeat 20px 17px;

            &:hover
            {
                background: url("../images/about_me_icon_white.png") no-repeat 20px 17px, $base_color;
            }
        }

        .my_hobby_button
        {
            background: url("../images/hobby_icon.png") no-repeat 20px 17px;

            &:hover
            {
                background: url("../images/hobby_icon_white.png") no-repeat 20px 17px, $base_color;
            }
        }

        .favorite_films_button
        {
            background: url("../images/favorite_films_icon.png") no-repeat 20px 17px;;

            &:hover
            {
                background: url("../images/favorite_films_icon_white.png") no-repeat 20px 17px, $base_color;
            }
        }

        .add_film_button
        {
            background: url("../images/add_film_icon.png") no-repeat 20px 17px;

            &:hover
            {
                background: url("../images/add_film_icon_white.png") no-repeat 20px 17px, $base_color;
            }
        }
    }
}

.article
{
    .content
    {
        margin: 0 auto;
        background: url("../images/background.png") no-repeat 50% 0;

        .main
        {
            max-width: 960px;
            margin: 0 auto;

            .column_one
            {
                float: left;
                max-width: 330px;
                margin: 210px 60px 0 0;

                .picture
                {
                    width: 100%;
                    height: auto;
                    border-radius: 5px;
                    display: block;
                }

                .my_books
                {
                    margin-top: 45px;

                    .books_headline
                    {
                        font: 700 24px/32px 'Open Sans', sans-serif;
                        color: $base_color;
                        margin-top: 45px;
                    }

                    .books_list
                    {
                        list-style-position: inside;

                        .book
                        {
                            font: 19px/31px 'Georgia', sans-serif;
                            color: $text_color;
                            margin-top: 15px;
                        }
                    }
                }
            }

            .column_two
            {
                float: left;
                max-width: 570px;
                margin-top: 210px;

                .quote
                {
                    height: 210px;
                    padding-top: 25px;
                    font: italic 28px/42px 'Georgia', sans-serif;
                    color: $white-font-color;

                    .author
                    {
                        font: 700 16px/42px 'Open Sans', sans-serif;
                        color: $white-font-color;
                    }
                }

                .name
                {
                    font: 700 48px/42px 'Open Sans', sans-serif;
                    color: $headline_color;

                    &:after
                    {
                        content: "";
                        display: block;
                        height: 5px;
                        width: 60px;
                        background-color: $base_color;
                        border-radius: 5px;
                        margin-top: 30px;
                    }
                }

                .info
                {
                    font: 19px/32px 'Georgia', sans-serif;
                    color: $text-color;
                    margin-top: 45px;
                }

                .hobby
                {
                    font: 600 36px/42px 'Open Sans', sans-serif;
                    color: $headline_color;
                    margin-top: 45px;
                }

                .write_me_link
                {
                    display: inline-block;
                    font: 19px/32px 'Georgia', sans-serif;
                    color: $base-color;
                    margin-top: 40px;
                    text-decoration: none;
                    cursor: pointer;

                    .link_without_arrow
                    {
                        text-decoration: underline;
                    }
                }
            }
        }

        .my_movies
        {
            max-width: 1200px;
            margin: 50px auto;

            .my_movies_container
            {
                .favorite_movies
                {
                    font: 600 36px/42px 'Open Sans', sans-serif;
                    color: $headline-color;
                }

                .movie
                {
                    width: 285px;
                    float: left;
                    margin: 5px 20px 0 0;

                    .movie_image
                    {
                        width: 285px;
                        height: 190px;
                        margin: 30px 0 25px;
                        border-radius: 5px;
                        display: block;
                    }

                    .movie_name
                    {
                        font: 700 22px/32px 'Open Sans', sans-serif;
                        color: $headline-color;
                    }

                    .movie_brief
                    {
                        font: 16px/28px 'Georgia', sans-serif;
                        color: $text-color;
                        margin-top: 15px;
                    }
                }

                :nth-of-type(4n)
                {
                    margin-right: 0;
                }
            }

            .my_movies_container_two
            {
                display: none;
                opacity: 0;
                transition: 1.5s;
                -webkit-transition: 1.5s;
                -moz-transition: 1.5s;
                -o-transition: 1.5s;
            }

            .display_movie_container
            {
                display: block;
            }

            .opacity_movie_container
            {
                opacity: 1;
            }

            .all_movies
            {
                display: block;
                margin: 55px auto 0;
                width: 220px;
                height: 50px;
                border-radius: 5px;
                text-align: center;
                background-color: $base_color;
                cursor: pointer;
                font: 19px/50px 'Georgia', sans-serif;
                color: $white-font-color;
            }
        }
    }

    .modal
    {
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        max-width: 660px;
        max-height: 900px;
        overflow-y: auto;
        position: fixed;
        display: none;
        z-index: 1010;
        border-radius: 10px;
        background-color: #fff;

        .close_modal
        {
            display: block;
            margin: 20px 0 0 93%;
            width: 26px;
            height: 26px;
            cursor: pointer;
        }

        .modal_title
        {
            font: 36px/42px 'Open Sans', sans-serif;
            color: $headline-color;
            margin-left: 60px;
        }

        .modal_object
        {
            margin: 0 auto;
            max-width: 540px;

            .object_title
            {
                font: 20px/32px 'Open Sans', sans-serif;
                color: $headline-color;
            }

            .need_to_fill
            {
                &:after
                {
                    content: " *";
                    color: red;
                }
            }

            .simple_field
            {
                height: 50px;
                @include form_style;
            }

            .textarea_field
            {
                height: 140px;
                @include form_style;
                resize: none;
                padding: 0;
            }

            .radio
            {
                margin-top: 45px;
                font: 18px/32px 'Open Sans', sans-serif;
                color: $headline_color;
            }

            .drop-down
            {
                height: 50px;
                text-indent: 15px;
                font: 18px/32px 'Open Sans', sans-serif;
                color: $text_color;
                @include form_style;
                -webkit-box-sizing: unset;
                -moz-box-sizing: unset;
                box-sizing: unset;
                -webkit-appearance: none;
                -moz-appearance: none;
                //appearance: none;
                background: url("../images/arrow_down.png") no-repeat 97% 20px;
            }

            .radio_name
            {
                margin-right: 20px;
            }
        }

        .field_small_margin
        {
            margin-top: 20px;
        }

        .field_large_margin
        {
            margin-top: 40px;
        }

        .red_border
        {
            border-color: red;
        }

        .modal_button
        {
            margin-top: 50px;
            margin-bottom: 30px;

            .form_submit
            {
                width: 220px;
                height: 50px;
                border-radius: 5px;
                font: 19px/32px 'Georgia', sans-serif;
                color: $white-font-color;
                background-color: $base_color;
                border: none;
                cursor: pointer;
            }
        }
    }

    .modal_overlay
    {
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        background-color: #333333;
        cursor: pointer;
        display: none;
    }

    .overlay_visible
    {
        display: block;
    }
}

.footer
{
    height: 70px;
    margin: 50px auto 0;
    padding-top: 20px;
    font: 16px/32px 'Georgia', sans-serif;
    color: $text-color;
    text-align: center;
    background-color: #f5f5f5;
}

@media screen and (max-width: 1279px)
{
    .article
    {
        .content
        {
            .main
            {
                .column_two
                {
                    .info
                    {
                        text-align: justify;
                    }
                }
            }

            .my_movies
            {
                max-width: 960px;

                .my_movies_container
                {
                    .movie
                    {
                        width: 450px;

                        .movie_image
                        {
                            width: 450px;
                            height: 100%;
                            margin: 30px auto;
                        }

                        .movie_brief
                        {
                            text-align: justify;
                        }
                    }

                    .odd_movie
                    {
                        margin: 5px 60px 0 0;
                    }

                    .even_movie
                    {
                        margin: 5px 0 0 auto;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1023px)
{
    .header
    {
        .mobile_menu
        {
            display: block;

            .invisible_hamburger
            {
                display: none;
            }
        }

        .top_menu
        {
            height: 0;

            .top_menu_button
            {
                float: none;
                display: none;
                background: none;
                text-align: center;

                &:hover
                {
                    color: $headline_color;
                    background: none,  #efeff0;
                }
            }
        }

        .mobile_menu_background
        {
            height: 200px;
            max-width: 600px;
        }
    }

    .article
    {
        .content
        {
            background-image: none;

            .main
            {
                .column_one
                {
                    margin: 20px auto 0;
                    float: none;
                    max-width: 600px;

                    .picture
                    {
                        max-width: 330px;
                        height: auto;
                        margin: 0 auto;
                    }
                }

                .column_two
                {
                    margin: 30px auto 0;
                    float: none;
                    max-width: 600px;

                    .quote
                    {
                        color: $headline_color;

                        .author
                        {
                            color: $headline_color;
                        }
                    }
                }
            }

            .my_movies
            {
                max-width: 600px;

                .my_movies_container
                {
                    .movie
                    {
                        width: 285px;
                        margin: 5px 20px 0 0;

                        .movie_image
                        {
                            width: 285px;
                            height: 190px;
                        }
                    }

                    .even_movie
                    {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 640px)
{
    .header
    {
        .mobile_menu
        {
            margin-left: 10px;
        }
    }

    .article
    {
        .content
        {
            margin: 10px;

            .my_movies
            {
                .my_movies_container
                {
                     .movie
                    {
                        max-width: 600px;
                        width: 100%;
                        margin-top: 50px;

                        .movie_image
                        {
                            max-width: 400px;
                            width: 100%;
                            height: 100%;
                            margin: 30px auto;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px)
{
    .article
    {
        .modal
        {
            .close_modal
            {
                margin: 20px 0 0 90%;
            }

            .modal_form
            {
                .modal_object
                {
                    margin-left: 10px;
                    margin-right: 10px;
                }

                .modal_button
                {
                    margin-left: 0;
                    text-align: center;
                }
            }

            .modal_title
            {
                margin-left: 0;
                text-align: center;
            }
        }
    }
}