@import 'reset';
@import 'mixins';
@font-face
{
    font-family: 'sans-serif';
    //src: url('../fonts/georgia.ttf')
}

.clear
{
    clear: both;
}

.revealator-slideup
{
    transform: translate(0, 100px);
    opacity: 0;
}

.header
{
    .mobile_menu
    {
        display: none;
        margin: 10px 0 0 10px;
        height: 30px;
        width: 30px;
        border: none;
        cursor: pointer;
        background: url("../images/hamburger_menu.svg") no-repeat center center;
    }

    .close_mobile_menu
    {
        display: none;
        height: 30px;
        width: 30px;
        border: none;
        cursor: pointer;
        background: url("../images/cross_menu.svg") no-repeat 10px 10px;
        padding: 10px 0 10px 50px;
        font: 19px/32px 'Georgia', sans-serif;
        color: $headline_color;
    }


    .top_menu
    {
        margin: 0 auto;
        max-width: 960px;
        height: 50px;

        .top_menu_button
        {
            display: block;
            float: left;
            height: 50px;
            padding: 0 20px 0 45px;
            border: none;
            cursor: pointer;
            font: 19px/50px 'Georgia', sans-serif;
            color: $headline_color;

            &:hover
            {
                color: $white-font-color;
            }
        }

        .about_me_button
        {
            background: url("../images/about_me_icon.png") no-repeat 20px 17px;

            &:hover
            {
                background: url("../images/about_me_icon_white.png") no-repeat 20px 17px, $base_color;
            }
        }

        .my_hobby_button
        {
            background: url("../images/hobby_icon.png") no-repeat 20px 17px;

            &:hover
            {
                background: url("../images/hobby_icon_white.png") no-repeat 20px 17px, $base_color;
            }
        }

        .favorite_films_button
        {
            background: url("../images/favorite_films_icon.png") no-repeat 20px 17px;;

            &:hover
            {
                background: url("../images/favorite_films_icon_white.png") no-repeat 20px 17px, $base_color;
            }
        }

        .add_film_button
        {
            background: url("../images/add_film_icon.png") no-repeat 20px 17px;

            &:hover
            {
                background: url("../images/add_film_icon_white.png") no-repeat 20px 17px, $base_color;
            }
        }
    }
}

.article
{
    .content
    {
        margin: 0 auto;
        background: url("../images/background.png") no-repeat 50% 0;

        .main
        {
            max-width: 960px;
            margin: 0 auto;

            .column_one
            {
                float: left;
                max-width: 330px;
                margin: 210px 60px 0 0;

                .picture
                {
                    width: 100%;
                    height: auto;
                    border-radius: 5px;
                    display: block;
                }

                .my_books
                {
                    margin-top: 45px;

                    .books_hedline
                    {
                        font: 700 24px/32px 'Open Sans', sans-serif;
                        color: $base_color;
                        margin-top: 45px;
                    }

                    .books_list
                    {
                        list-style-position: inside;

                        .book
                        {
                            font: 19px/31px 'Georgia', sans-serif;
                            color: $text_color;
                            margin-top: 15px;
                        }
                    }
                }
            }

            .column_two
            {
                float: left;
                max-width: 570px;
                margin-top: 210px;

                .quote
                {
                    height: 210px;
                    padding-top: 25px;
                    font: italic 28px/42px 'Georgia', sans-serif;
                    color: $white-font-color;

                    .author
                    {
                        font: 700 16px/42px 'Open Sans', sans-serif;
                        color: $white-font-color;
                    }
                }

                .name
                {
                    font: 700 48px/42px 'Open Sans', sans-serif;
                    color: $headline_color;

                    &:after
                    {
                        content: "";
                        display: block;
                        height: 5px;
                        width: 60px;
                        background-color: $base_color;
                        border-radius: 5px;
                        margin-top: 30px;
                    }
                }

                .info_about_me
                {
                    font: 19px/32px 'Georgia', sans-serif;
                    color: $text-color;
                    margin-top: 45px;
                }

                .hobby
                {
                    font: 600 36px/42px 'Open Sans', sans-serif;
                    color: $headline_color;
                    margin-top: 45px;
                }

                .info_my_hobby
                {
                    font: 19px/32px 'Georgia', sans-serif;
                    color: $text-color;
                    margin-top: 15px;
                }

                .write_me_link
                {
                    display: inline-block;
                    font: 19px/32px 'Georgia', sans-serif;
                    color: $base-color;
                    margin-top: 40px;
                    text-decoration: none;
                    cursor: pointer;

                    .link_without_arrow
                    {
                        text-decoration: underline;
                    }
                }
            }
        }

        .my_movies
        {
            height: auto;
            margin: 45px auto 50px;
            padding: 45px 0 50px;

            .my_movies_container_one, .my_movies_container_two
            {
                max-width: 1200px;
                margin: 0 auto;

                .favorite_movies
                {
                    font: 600 36px/42px 'Open Sans', sans-serif;
                    color: $headline-color;
                }

                .movie
                {
                    width: 285px;
                    float: left;
                    margin: 5px 20px 0 0;

                    .movie_image
                    {
                        width: 285px;
                        height: 190px;
                        margin: 30px 0 25px;
                        border-radius: 5px;
                        display: block;
                    }

                    .movie_name
                    {
                        font: 700 22px/32px 'Open Sans', sans-serif;
                        color: $headline-color;
                    }

                    .movie_brief
                    {
                        font: 16px/28px 'Georgia', sans-serif;
                        color: $text-color;
                        margin-top: 15px;
                    }
                }

                :nth-of-type(4n)
                {
                    margin-right: 0;
                }
            }

            .my_movies_container_two
            {
                :nth-of-type(4n)
                {
                    margin-right: 0;
                }
            }

            .my_movies_container_two
            {
                display: none;
                opacity: 0;
                transition: 1.5s;
                -webkit-transition: 1.5s;
                -moz-transition: 1.5s;
                -o-transition: 1.5s;
            }

            .display_movie_container
            {
                display: block;
            }

            .opacity_movie_container
            {
                opacity: 1;
            }

            .all_movies
            {
                display: block;
                margin: 55px auto 0;
                width: 220px;
                height: 50px;
                border-radius: 5px;
                text-align: center;
                background-color: $base_color;
                cursor: pointer;
                font: 19px/50px 'Georgia', sans-serif;
                color: $white-font-color;
            }
        }
    }

    .write_me_form
    {
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        max-width: 660px;
        max-height: 900px;
        overflow-y: auto;
        position: fixed;
        display: none;
        z-index: 1010;
        border-radius: 10px;
        background-color: #FFFFFF;

        .close_write_me_form
        {
            display: block;
            margin: 20px 0 0 93%;
            cursor: pointer;
            width: 26px;
            height: 26px;
        }

        .write_me_form_title
        {
            font: 36px/42px 'Open Sans', sans-serif;
            color: $headline-color;
            margin-left: 60px;
        }

        .write_me
        {
            .form_name, .form_email, .form_country, .form_gender, .form_message, .form_write_me_button
            {
                margin: 0 auto;
                max-width: 540px;

                .form_headline
                {
                    font: 20px/32px 'Open Sans', sans-serif;
                    color: $headline-color;
                }
            }

            .form_name, .form_email
            {
                margin-top: 20px;

                .form_headline:after
                {
                    content: " *";
                    color: red;
                }

                .username, .email
                {
                    height: 50px;
                    @include form_style;
                }

                .red_border
                {
                    border-color: red;
                }
            }

            .form_country
            {
                margin-top: 25px;

                .country
                {
                    height: 50px;
                    text-indent: 15px;
                    font: 18px/32px 'Open Sans', sans-serif;
                    color: $text_color;
                    @include form_style;
                    -webkit-box-sizing: unset;
                    -moz-box-sizing: unset;
                    box-sizing: unset;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    //appearance: none;
                    background: url("../images/arrow_down.png") no-repeat 97% 20px;
                }
            }

            .form_gender
            {
                margin-top: 45px;
                font: 18px/32px 'Open Sans', sans-serif;
                color: $headline_color;

                .gender_name
                {
                    margin-right: 20px;
                }
            }

            .form_message
            {
                margin-top: 40px;

                .form_headline:after
                {
                    content: " *";
                    color: red;
                }

                .message
                {
                    height: 140px;
                    @include form_style;
                    resize: none;
                    padding: 0;
                }

                .red_border
                {
                    border-color: red;
                }
            }

            .form_write_me_button
            {
                margin-top: 50px;

                .send_write_me
                {
                    width: 220px;
                    height: 50px;
                    border-radius: 5px;
                    font: 19px/32px 'Georgia', sans-serif;
                    color: $white-font-color;
                    background-color: $base_color;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }

    .add_movie_form
    {
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        max-width: 660px;
        max-height: 670px;
        overflow-y: auto;
        position: fixed;
        display: none;
        z-index: 1010;
        border-radius: 10px;
        background-color: #FFFFFF;

        .close_add_movie_button
        {
            display: block;
            margin: 20px 0 0 93%;
            width: 26px;
            height: 26px;
            cursor: pointer;
        }

        .add_movie_form_title
        {
            font: 36px/42px 'Open Sans', sans-serif;
            color: $headline-color;
            margin-left: 60px;
        }

        .add_movie
        {
            .form_url, .form_movie_name, .form_movie_description, .form_add_movie_button
            {
                margin: 0 auto;
                max-width: 540px;

                .form_headline
                {
                    font: 20px/32px 'Open Sans', sans-serif;
                    color: $headline-color;
                }
            }

            .form_url, .form_movie_name
            {
                margin-top: 20px;

                .form_headline:after
                {
                    content: " *";
                    color: red;
                }

                .url, .movie_name
                {
                    height: 50px;
                    @include form_style;
                }

                .red_border
                {
                    border-color: red;
                }
            }

            .form_movie_description
            {
                margin-top: 40px;

                .form_headline:after
                {
                    content: " *";
                    color: red;
                }

                .movie_description
                {
                    height: 140px;
                    @include form_style;
                    resize: none;
                    padding: 0;
                }

                .red_border
                {
                    border-color: red;
                }
            }

            .form_add_movie_button
            {
                margin-top: 50px;
                margin-bottom: 30px;

                .send_add_movie
                {
                    width: 220px;
                    height: 50px;
                    border-radius: 5px;
                    font: 19px/32px 'Georgia', sans-serif;
                    color: $white-font-color;
                    background-color: $base_color;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }

    .modal_overlay
    {
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        background-color: #333333;
        cursor: pointer;
        display: none;
    }

    .view_modal
    {
        display: block;
    }
}

.footer
{
    height: 70px;
    margin: 50px auto 0;
    padding-top: 20px;
    font: 16px/32px 'Georgia', sans-serif;
    color: $text-color;
    text-align: center;
    background-color: #F5F5F5;
}

@media screen
{
    @media (max-width: 1279px)
    {
        .article
        {
            .content
            {
                .my_movies
                {
                    .my_movies_container_one, .my_movies_container_two
                    {
                        max-width: 600px;
                        margin: 0 auto;

                        :nth-of-type(2n)
                        {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1023px)
    {
        .article
        {
            .content
            {
                background-image: none;

                .main
                {
                    .column_one
                    {
                        margin: 10px auto 0;
                        float: none;
                    }

                    .column_two
                    {
                        margin: 30px auto 0;
                        float: none;

                        .quote
                        {
                            color: $headline_color;

                            .author
                            {
                                color: $headline_color;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 768px)
    {
        .header
        {
            .mobile_menu
            {
                display: block;
            }

            .open_mm
            {
                display: none;
            }

            .top_menu
            {
                .top_menu_button
                {
                    float: none;
                    display: none;
                    opacity: 0;
                    padding: 0 auto;
                    margin: 0 auto;
                    background: none;
                    text-align: center;
                    color: $text-color;
                    line-height: 50px;

                    &:hover
                    {
                        color: $headline_color;
                        background: none;
                        background-color: #EFEFF0;
                    }
                }
            }

            .mobile_top_menu
            {
                height: 800px;
                max-width: 600px;
            }
        }
    }

    @media (max-width: 700px)
    {
        .article
        {
            .write_me_form
            {
                margin: auto 10px;
                overflow: auto;

                .write_me
                {
                    .form_write_me_button
                    {
                        margin-bottom: 20px;
                    }
                }
            }

            .add_movie_form
            {
                margin: auto 10px;
                overflow: auto;

                .add_movie
                {
                    .form_add_movie_button
                    {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    @media (max-width: 640px)
    {
        .article
        {
            .content
            {
                margin: 10px;

                .my_movies
                {
                    .my_movies_container_one, .my_movies_container_two
                    {
                        max-width: 320px;
                        margin: 0 auto;

                        .movie
                        {
                            float: none;
                            margin: 5px auto 0;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 600px)
    {
        .article
        {
            .write_me_form
            {
                margin: auto 10px;

                .cross_write_me_form
                {
                    .close_write_me_button
                    {
                        margin: 20px 0 0 90%;
                    }
                }

                .write_me
                {
                    .form_name, .form_email, .form_country, .form_message, .form_gender
                    {
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }

                .write_me_form_title, .form_write_me_button
                {
                    margin-left: 0;
                    text-align: center;
                }
            }

            .add_movie_form
            {
                margin: auto 10px;

                .cross_add_movie_form
                {
                    .close_add_movie_button
                    {
                        margin: 20px 0 0 90%;
                    }
                }

                .add_movie
                {
                    .form_url, .form_movie_name, .form_movie_description
                    {
                        margin-left: 10px;
                        margin-right: 10px;
                    }

                    .add_movie_form_title, .form_add_movie_button
                    {
                        margin-left: 0;
                        text-align: center;
                    }
                }
            }
        }
    }
}