/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input:focus {
  outline: none !important; }

@font-face {
  font-family: 'sans-serif'; }

.clear {
  clear: both; }

.revealator-slideup {
  transform: translate(0, 100px);
  opacity: 0; }

.header .mobile_menu {
  display: none;
  margin: 10px 0 0 10px;
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
  background: url("../images/hamburger_menu.svg") no-repeat center center; }

.header .close_mobile_menu {
  display: none;
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
  background: url("../images/cross_menu.svg") no-repeat 10px 10px;
  padding: 10px 0 10px 50px;
  font: 19px/32px 'Georgia', sans-serif;
  color: #333333; }

.header .top_menu {
  margin: 0 auto;
  max-width: 960px;
  height: 50px; }
  .header .top_menu .top_menu_button {
    display: block;
    float: left;
    height: 50px;
    padding: 0 20px 0 45px;
    border: none;
    cursor: pointer;
    font: 19px/50px 'Georgia', sans-serif;
    color: #333333; }
    .header .top_menu .top_menu_button:hover {
      color: #F5F5F5; }
  .header .top_menu .about_me_button {
    background: url("../images/about_me_icon.png") no-repeat 20px 17px; }
    .header .top_menu .about_me_button:hover {
      background: url("../images/about_me_icon_white.png") no-repeat 20px 17px, #15A98B; }
  .header .top_menu .my_hobby_button {
    background: url("../images/hobby_icon.png") no-repeat 20px 17px; }
    .header .top_menu .my_hobby_button:hover {
      background: url("../images/hobby_icon_white.png") no-repeat 20px 17px, #15A98B; }
  .header .top_menu .favorite_films_button {
    background: url("../images/favorite_films_icon.png") no-repeat 20px 17px; }
    .header .top_menu .favorite_films_button:hover {
      background: url("../images/favorite_films_icon_white.png") no-repeat 20px 17px, #15A98B; }
  .header .top_menu .add_film_button {
    background: url("../images/add_film_icon.png") no-repeat 20px 17px; }
    .header .top_menu .add_film_button:hover {
      background: url("../images/add_film_icon_white.png") no-repeat 20px 17px, #15A98B; }

.article .content {
  margin: 0 auto;
  background: url("../images/background.png") no-repeat 50% 0; }
  .article .content .main {
    max-width: 960px;
    margin: 0 auto; }
    .article .content .main .column_one {
      float: left;
      max-width: 330px;
      margin: 210px 60px 0 0; }
      .article .content .main .column_one .picture {
        width: 100%;
        height: auto;
        border-radius: 5px;
        display: block; }
      .article .content .main .column_one .my_books {
        margin-top: 45px; }
        .article .content .main .column_one .my_books .books_hedline {
          font: 700 24px/32px 'Open Sans', sans-serif;
          color: #15A98B;
          margin-top: 45px; }
        .article .content .main .column_one .my_books .books_list {
          list-style-position: inside; }
          .article .content .main .column_one .my_books .books_list .book {
            font: 19px/31px 'Georgia', sans-serif;
            color: #555555;
            margin-top: 15px; }
    .article .content .main .column_two {
      float: left;
      max-width: 570px;
      margin-top: 210px; }
      .article .content .main .column_two .quote {
        height: 210px;
        padding-top: 25px;
        font: italic 28px/42px 'Georgia', sans-serif;
        color: #F5F5F5; }
        .article .content .main .column_two .quote .author {
          font: 700 16px/42px 'Open Sans', sans-serif;
          color: #F5F5F5; }
      .article .content .main .column_two .name {
        font: 700 48px/42px 'Open Sans', sans-serif;
        color: #333333; }
        .article .content .main .column_two .name:after {
          content: "";
          display: block;
          height: 5px;
          width: 60px;
          background-color: #15A98B;
          border-radius: 5px;
          margin-top: 30px; }
      .article .content .main .column_two .info_about_me {
        font: 19px/32px 'Georgia', sans-serif;
        color: #555555;
        margin-top: 45px; }
      .article .content .main .column_two .hobby {
        font: 600 36px/42px 'Open Sans', sans-serif;
        color: #333333;
        margin-top: 45px; }
      .article .content .main .column_two .info_my_hobby {
        font: 19px/32px 'Georgia', sans-serif;
        color: #555555;
        margin-top: 15px; }
      .article .content .main .column_two .write_me_link {
        display: inline-block;
        font: 19px/32px 'Georgia', sans-serif;
        color: #15A98B;
        margin-top: 40px;
        text-decoration: none;
        cursor: pointer; }
        .article .content .main .column_two .write_me_link .link_without_arrow {
          text-decoration: underline; }
  .article .content .my_movies {
    height: auto;
    margin: 45px auto 50px;
    padding: 45px 0 50px; }
    .article .content .my_movies .my_movies_container_one, .article .content .my_movies .my_movies_container_two {
      max-width: 1200px;
      margin: 0 auto; }
      .article .content .my_movies .my_movies_container_one .favorite_movies, .article .content .my_movies .my_movies_container_two .favorite_movies {
        font: 600 36px/42px 'Open Sans', sans-serif;
        color: #333333; }
      .article .content .my_movies .my_movies_container_one .movie, .article .content .my_movies .my_movies_container_two .movie {
        width: 285px;
        float: left;
        margin: 5px 20px 0 0; }
        .article .content .my_movies .my_movies_container_one .movie .movie_image, .article .content .my_movies .my_movies_container_two .movie .movie_image {
          width: 285px;
          height: 190px;
          margin: 30px 0 25px;
          border-radius: 5px;
          display: block; }
        .article .content .my_movies .my_movies_container_one .movie .movie_name, .article .content .my_movies .my_movies_container_two .movie .movie_name {
          font: 700 22px/32px 'Open Sans', sans-serif;
          color: #333333; }
        .article .content .my_movies .my_movies_container_one .movie .movie_brief, .article .content .my_movies .my_movies_container_two .movie .movie_brief {
          font: 16px/28px 'Georgia', sans-serif;
          color: #555555;
          margin-top: 15px; }
      .article .content .my_movies .my_movies_container_one :nth-of-type(4n), .article .content .my_movies .my_movies_container_two :nth-of-type(4n) {
        margin-right: 0; }
    .article .content .my_movies .my_movies_container_two :nth-of-type(4n) {
      margin-right: 0; }
    .article .content .my_movies .my_movies_container_two {
      display: none;
      opacity: 0;
      transition: 1.5s;
      -webkit-transition: 1.5s;
      -moz-transition: 1.5s;
      -o-transition: 1.5s; }
    .article .content .my_movies .display_movie_container {
      display: block; }
    .article .content .my_movies .opacity_movie_container {
      opacity: 1; }
    .article .content .my_movies .all_movies {
      display: block;
      margin: 55px auto 0;
      width: 220px;
      height: 50px;
      border-radius: 5px;
      text-align: center;
      background-color: #15A98B;
      cursor: pointer;
      font: 19px/50px 'Georgia', sans-serif;
      color: #F5F5F5; }

.article .write_me_form {
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 660px;
  max-height: 900px;
  overflow-y: auto;
  position: fixed;
  display: none;
  z-index: 1010;
  border-radius: 10px;
  background-color: #FFFFFF; }
  .article .write_me_form .close_write_me_form {
    display: block;
    margin: 20px 0 0 93%;
    cursor: pointer;
    width: 26px;
    height: 26px; }
  .article .write_me_form .write_me_form_title {
    font: 36px/42px 'Open Sans', sans-serif;
    color: #333333;
    margin-left: 60px; }
  .article .write_me_form .write_me .form_name, .article .write_me_form .write_me .form_email, .article .write_me_form .write_me .form_country, .article .write_me_form .write_me .form_gender, .article .write_me_form .write_me .form_message, .article .write_me_form .write_me .form_write_me_button {
    margin: 0 auto;
    max-width: 540px; }
    .article .write_me_form .write_me .form_name .form_headline, .article .write_me_form .write_me .form_email .form_headline, .article .write_me_form .write_me .form_country .form_headline, .article .write_me_form .write_me .form_gender .form_headline, .article .write_me_form .write_me .form_message .form_headline, .article .write_me_form .write_me .form_write_me_button .form_headline {
      font: 20px/32px 'Open Sans', sans-serif;
      color: #333333; }
  .article .write_me_form .write_me .form_name, .article .write_me_form .write_me .form_email {
    margin-top: 20px; }
    .article .write_me_form .write_me .form_name .form_headline:after, .article .write_me_form .write_me .form_email .form_headline:after {
      content: " *";
      color: red; }
    .article .write_me_form .write_me .form_name .username, .article .write_me_form .write_me .form_name .email, .article .write_me_form .write_me .form_email .username, .article .write_me_form .write_me .form_email .email {
      height: 50px;
      width: 100%;
      border-radius: 3px;
      border: 2px solid #C9C9C9; }
      .article .write_me_form .write_me .form_name .username:hover, .article .write_me_form .write_me .form_name .email:hover, .article .write_me_form .write_me .form_email .username:hover, .article .write_me_form .write_me .form_email .email:hover {
        border: 2px solid #A6A6A6; }
      .article .write_me_form .write_me .form_name .username:focus, .article .write_me_form .write_me .form_name .email:focus, .article .write_me_form .write_me .form_email .username:focus, .article .write_me_form .write_me .form_email .email:focus {
        outline: none;
        border: 2px solid #15A98B; }
    .article .write_me_form .write_me .form_name .red_border, .article .write_me_form .write_me .form_email .red_border {
      border-color: red; }
  .article .write_me_form .write_me .form_country {
    margin-top: 25px; }
    .article .write_me_form .write_me .form_country .country {
      height: 50px;
      text-indent: 15px;
      font: 18px/32px 'Open Sans', sans-serif;
      color: #555555;
      width: 100%;
      border-radius: 3px;
      border: 2px solid #C9C9C9;
      -webkit-box-sizing: unset;
      -moz-box-sizing: unset;
      box-sizing: unset;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: url("../images/arrow_down.png") no-repeat 97% 20px; }
      .article .write_me_form .write_me .form_country .country:hover {
        border: 2px solid #A6A6A6; }
      .article .write_me_form .write_me .form_country .country:focus {
        outline: none;
        border: 2px solid #15A98B; }
  .article .write_me_form .write_me .form_gender {
    margin-top: 45px;
    font: 18px/32px 'Open Sans', sans-serif;
    color: #333333; }
    .article .write_me_form .write_me .form_gender .gender_name {
      margin-right: 20px; }
  .article .write_me_form .write_me .form_message {
    margin-top: 40px; }
    .article .write_me_form .write_me .form_message .form_headline:after {
      content: " *";
      color: red; }
    .article .write_me_form .write_me .form_message .message {
      height: 140px;
      width: 100%;
      border-radius: 3px;
      border: 2px solid #C9C9C9;
      resize: none;
      padding: 0; }
      .article .write_me_form .write_me .form_message .message:hover {
        border: 2px solid #A6A6A6; }
      .article .write_me_form .write_me .form_message .message:focus {
        outline: none;
        border: 2px solid #15A98B; }
    .article .write_me_form .write_me .form_message .red_border {
      border-color: red; }
  .article .write_me_form .write_me .form_write_me_button {
    margin-top: 50px; }
    .article .write_me_form .write_me .form_write_me_button .send_write_me {
      width: 220px;
      height: 50px;
      border-radius: 5px;
      font: 19px/32px 'Georgia', sans-serif;
      color: #F5F5F5;
      background-color: #15A98B;
      border: none;
      cursor: pointer; }

.article .add_movie_form {
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 660px;
  max-height: 670px;
  overflow-y: auto;
  position: fixed;
  display: none;
  z-index: 1010;
  border-radius: 10px;
  background-color: #FFFFFF; }
  .article .add_movie_form .close_add_movie_button {
    display: block;
    margin: 20px 0 0 93%;
    width: 26px;
    height: 26px;
    cursor: pointer; }
  .article .add_movie_form .add_movie_form_title {
    font: 36px/42px 'Open Sans', sans-serif;
    color: #333333;
    margin-left: 60px; }
  .article .add_movie_form .add_movie .form_url, .article .add_movie_form .add_movie .form_movie_name, .article .add_movie_form .add_movie .form_movie_description, .article .add_movie_form .add_movie .form_add_movie_button {
    margin: 0 auto;
    max-width: 540px; }
    .article .add_movie_form .add_movie .form_url .form_headline, .article .add_movie_form .add_movie .form_movie_name .form_headline, .article .add_movie_form .add_movie .form_movie_description .form_headline, .article .add_movie_form .add_movie .form_add_movie_button .form_headline {
      font: 20px/32px 'Open Sans', sans-serif;
      color: #333333; }
  .article .add_movie_form .add_movie .form_url, .article .add_movie_form .add_movie .form_movie_name {
    margin-top: 20px; }
    .article .add_movie_form .add_movie .form_url .form_headline:after, .article .add_movie_form .add_movie .form_movie_name .form_headline:after {
      content: " *";
      color: red; }
    .article .add_movie_form .add_movie .form_url .url, .article .add_movie_form .add_movie .form_url .movie_name, .article .add_movie_form .add_movie .form_movie_name .url, .article .add_movie_form .add_movie .form_movie_name .movie_name {
      height: 50px;
      width: 100%;
      border-radius: 3px;
      border: 2px solid #C9C9C9; }
      .article .add_movie_form .add_movie .form_url .url:hover, .article .add_movie_form .add_movie .form_url .movie_name:hover, .article .add_movie_form .add_movie .form_movie_name .url:hover, .article .add_movie_form .add_movie .form_movie_name .movie_name:hover {
        border: 2px solid #A6A6A6; }
      .article .add_movie_form .add_movie .form_url .url:focus, .article .add_movie_form .add_movie .form_url .movie_name:focus, .article .add_movie_form .add_movie .form_movie_name .url:focus, .article .add_movie_form .add_movie .form_movie_name .movie_name:focus {
        outline: none;
        border: 2px solid #15A98B; }
    .article .add_movie_form .add_movie .form_url .red_border, .article .add_movie_form .add_movie .form_movie_name .red_border {
      border-color: red; }
  .article .add_movie_form .add_movie .form_movie_description {
    margin-top: 40px; }
    .article .add_movie_form .add_movie .form_movie_description .form_headline:after {
      content: " *";
      color: red; }
    .article .add_movie_form .add_movie .form_movie_description .movie_description {
      height: 140px;
      width: 100%;
      border-radius: 3px;
      border: 2px solid #C9C9C9;
      resize: none;
      padding: 0; }
      .article .add_movie_form .add_movie .form_movie_description .movie_description:hover {
        border: 2px solid #A6A6A6; }
      .article .add_movie_form .add_movie .form_movie_description .movie_description:focus {
        outline: none;
        border: 2px solid #15A98B; }
    .article .add_movie_form .add_movie .form_movie_description .red_border {
      border-color: red; }
  .article .add_movie_form .add_movie .form_add_movie_button {
    margin-top: 50px;
    margin-bottom: 30px; }
    .article .add_movie_form .add_movie .form_add_movie_button .send_add_movie {
      width: 220px;
      height: 50px;
      border-radius: 5px;
      font: 19px/32px 'Georgia', sans-serif;
      color: #F5F5F5;
      background-color: #15A98B;
      border: none;
      cursor: pointer; }

.article .modal_overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: #333333;
  cursor: pointer;
  display: none; }

.article .view_modal {
  display: block; }

.footer {
  height: 70px;
  margin: 50px auto 0;
  padding-top: 20px;
  font: 16px/32px 'Georgia', sans-serif;
  color: #555555;
  text-align: center;
  background-color: #F5F5F5; }

@media screen and (max-width: 1279px) {
  .article .content .my_movies .my_movies_container_one, .article .content .my_movies .my_movies_container_two {
    max-width: 600px;
    margin: 0 auto; }
    .article .content .my_movies .my_movies_container_one :nth-of-type(2n), .article .content .my_movies .my_movies_container_two :nth-of-type(2n) {
      margin-right: 0; } }

@media screen and (max-width: 1023px) {
  .article .content {
    background-image: none; }
    .article .content .main .column_one {
      margin: 10px auto 0;
      float: none; }
    .article .content .main .column_two {
      margin: 30px auto 0;
      float: none; }
      .article .content .main .column_two .quote {
        color: #333333; }
        .article .content .main .column_two .quote .author {
          color: #333333; } }

@media screen and (max-width: 768px) {
  .header .mobile_menu {
    display: block; }
  .header .open_mm {
    display: none; }
  .header .top_menu .top_menu_button {
    float: none;
    display: none;
    background: none;
    text-align: center; }
    .header .top_menu .top_menu_button:hover {
      color: #333333;
      background: none;
      background-color: #EFEFF0; }
  .header .mobile_top_menu {
    height: 800px;
    max-width: 600px; } }

@media screen and (max-width: 700px) {
  .article .write_me_form {
    margin: auto 10px;
    overflow: auto; }
    .article .write_me_form .write_me .form_write_me_button {
      margin-bottom: 20px; }
  .article .add_movie_form {
    margin: auto 10px;
    overflow: auto; }
    .article .add_movie_form .add_movie .form_add_movie_button {
      margin-bottom: 20px; } }

@media screen and (max-width: 640px) {
  .article .content {
    margin: 10px; }
    .article .content .my_movies .my_movies_container_one, .article .content .my_movies .my_movies_container_two {
      max-width: 320px;
      margin: 0 auto; }
      .article .content .my_movies .my_movies_container_one .movie, .article .content .my_movies .my_movies_container_two .movie {
        float: none;
        margin: 5px auto 0; } }

@media screen and (max-width: 600px) {
  .article .write_me_form {
    margin: auto 10px; }
    .article .write_me_form .cross_write_me_form .close_write_me_button {
      margin: 20px 0 0 90%; }
    .article .write_me_form .write_me .form_name, .article .write_me_form .write_me .form_email, .article .write_me_form .write_me .form_country, .article .write_me_form .write_me .form_message, .article .write_me_form .write_me .form_gender {
      margin-left: 10px;
      margin-right: 10px; }
    .article .write_me_form .write_me_form_title, .article .write_me_form .form_write_me_button {
      margin-left: 0;
      text-align: center; }
  .article .add_movie_form {
    margin: auto 10px; }
    .article .add_movie_form .cross_add_movie_form .close_add_movie_button {
      margin: 20px 0 0 90%; }
    .article .add_movie_form .add_movie .form_url, .article .add_movie_form .add_movie .form_movie_name, .article .add_movie_form .add_movie .form_movie_description {
      margin-left: 10px;
      margin-right: 10px; }
    .article .add_movie_form .add_movie .add_movie_form_title, .article .add_movie_form .add_movie .form_add_movie_button {
      margin-left: 0;
      text-align: center; } }
